:root {
  --lavender-web: #d9dbf1ff;
  --french-gray: #d0cdd7ff;
  --french-gray-2: #acb0bdff;
  --dark-slate-gray: #416165ff;
  --midnight-green: #0b3948ff;
  --gray: #757575;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

article.cv:not(:first-child) {
  margin-top: 16px;
}

aside {
  flex-basis: 33.33%;
  flex-grow: 1;
  background-color: #fff;
  color: #757575;
  height: fit-content;
}

aside h1 {
  font-size: 18px;
  font-weight: bolder;
}

aside ul {
  padding-left: 0;
}

aside li {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.item-list {
  padding-left: 0;
}

body {
  background-color: var(--french-gray-2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

footer {
  margin-top: 16px;
  color: white;
  background-color: var(--midnight-green);
  text-align: center;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 10px 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5em;
}

header h1 {
  font-size: 2.5em;
  flex-grow: 1;
  margin: 0;
  padding-left: 0.5em;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
  margin-top: 16px;
}

nav {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--midnight-green);
  padding: 0.5em 0.5em 0.5em 1em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  list-style-type: none;
  text-transform: uppercase;
  width: 960px;
}

nav li {
  align-items: center;
  display: flex;
  padding-right: 1.5em;
  font-size: 24px;
  font-weight: bold;

  & :hover {
    color: var(--lavender-web);
  }
}

nav li:hover .icon {
  color: var(--lavender-web);
}

nav a {
  text-decoration: none;
}

progress {
  accent-color: var(--midnight-green);
  width: 100%;
}

section.right-column {
  display: flex;
  flex-basis: 66.66%;
  flex-direction: column;
  flex-grow: 2;
  margin-left: 16px;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-4 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
  text-align: center !important;
}

.container {
  background-color: white;
  padding: 0.01em 16px;
  height: fit-content;
}

.current {
  color: var(--lavender-web);

  & :hover {
    color: white;
  }
}

.current:hover .icon {
  color: white;
}

.current .icon {
  color: var(--lavender-web);
}

.cv {
  & h1 {
    font-weight: bolder;
    color: var(--gray);
    font-size: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  & h2 {
    font-weight: bolder;
    color: var(--gray);
    font-size: 18px;
  }
}

.cv-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1em;
  row-gap: 1em;
}

.heading {
  font-weight: bolder;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  color: var(--dark-slate-gray);
  margin-right: 16px;
  contain: none;
}

.icon-text {
  display: inline-block;
  vertical-align: middle;
}

nav .icon {
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin-right: 16px;
  contain: none;
}

.main-content {
  display: flex;
  justify-content: space-around;
  max-width: 960px;
}

.margin-top {
  margin-top: 16px !important;
}

.margin-right {
  margin-right: 16px !important;
}

.margin-bottom {
  margin-bottom: 16px !important;
}

.modal-button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  background-color: #eee;
  background-image: linear-gradient(top, #fff, #f0f0f0);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    border-color: #999;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
  }
}

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;

  &.light {
    background: rgba(255, 255, 255, 0.5);
  }

  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }

  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.modal-popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 720px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;

  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  & h2 {
    margin-top: 0;
    color: #666;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;

    &:hover {
      opacity: 1;
    }
  }

  .content {
    overflow: auto;
  }

  & p {
    margin: 0 0 1em;

    &:last-child {
      margin: 0;
    }
  }
}

.opacity,
.hover-opacity:hover {
  opacity: 0.6;
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.portfolio-item {
  display: flex;
  padding: 1em 0.5em;
}

.portfolio-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.portfolio-item-thumb {
  width: 160px;
  height: 120px;
}

.portfolio-entry {
  flex-grow: 1;
  padding-left: 1em;

  & h2 {
    font-weight: bolder;
    color: var(--gray);
    font-size: 24px;
  }
}

.profile-caption {
  color: var(--french-gray);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 16px;
}

.profile-pic-container {
  position: relative;
}

.round {
  border-radius: 4px;
}

.round-xlarge {
  border-radius: 16px;
}

.tag {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  text-align: center;
  color: #fff;
  background-color: #000;
}

@media (max-width: 601px) {
  nav ul {
    flex-direction: column;
  }

  .main-content {
    flex-direction: column;
  }

  section.right-column {
    margin-left: 0;
  }

  .left-column {
    margin-bottom: 16px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
  }
}

/* CSS HEX */
/*--lavender-web: #d9dbf1ff;*/
/*--french-gray: #d0cdd7ff;*/
/*--french-gray-2: #acb0bdff;*/
/*--dark-slate-gray: #416165ff;*/
/*--midnight-green: #0b3948ff;*/

/* Below marked for trashing */

.tools article {
  height: auto;
}

.tools.container {
  padding-bottom: 1em;
}

.text-black {
  color: #000 !important;
}

.text-white {
  color: #fff !important;
}

.text-grey {
  color: #757575 !important;
}

.text-teal {
  color: #009688 !important;
}

.xxlarge {
  font-size: 36px !important;
}

.large {
  font-size: 18px !important;
}

.small {
  font-size: 12px !important;
}

.white {
  color: #000 !important;
  background-color: #fff !important;
}

.light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.french-grey {
  color: #000 !important;
  background-color: #acb0bd !important;
}

.teal {
  color: #fff !important;
  background-color: #009688 !important;
}

.columbia-blue {
  color: #fff !important;
  background-color: #afd2e9 !important;
}

.cool-gray {
  color: #fff !important;
  background-color: #0b3948 !important;
}

.lavender {
  color: #000 !important;
  background-color: #d0cdd7 !important;
}
